@font-face {
    font-family: "windsong";
    src: url(../../assets/fonts/WindSong-Medium.ttf);
}

@font-face {
    font-family: "boot";
    src: url(../../assets/fonts/ROUND8-FOUR.otf);
}
@font-face {
    font-family: "boot1";
    src: url(../../assets/fonts/7v88vbNPUPh3PX8XhEqCZvmuic.ttf);
}
@font-face {
    font-family: "boot2";
    src: url(../../assets/fonts/d3tHnaQIAeqiE5hGcRw4mmgWYU.ttf);
}
@font-face {
    font-family: "boot3";
    src: url(../../assets/fonts/ml8WBou3qLRVFQzTmsYLrcQlG3s.ttf);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.boot-layer{
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000 ;
    /* opacity: 0; */
    /* background-color: #2da5e5; */
    display: flex;
}
.boot-layer-box{
    /* border: 1px solid white; */
    /* opacity: 0; */
    /* border: 1px solid white; */
    background-color:transparent;
    height: 100%;
    flex: 1;
    overflow: hidden;
}
.slide-box{
    height: 100%;
    width: 100%;
    background-color: var(--color-primary);
}
.boot-container{
    /* opacity: 0; */
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 50%; */
}
.loading{
    /* border: 2px solid white; */
    align-items: center;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 1vw; */
    position: relative;
    /* border: 2px solid black; */
    overflow: hidden;
    color: black;
    width: fit-content;
    z-index: 999;
    font-family: "boot3";
    font-size: 2vw;
    /* letter-spacing: -5px; */
    width: 70vw;
    transform-origin: left;
    line-height: 0.8;
    height: 200px;
}
.loading >:nth-child(2){
    /* font-size: 8.7vw; */
    /* opacity: 0; */
    position: absolute;
}

.welcome span{
    opacity: 0;
      font-family: "windsong";
  font-weight: 500;
  font-style: normal;
  /* margin-top: auto; */
}
.loading h1{
    display: flex;
}
.loading h1 span{
    display: inline-block;
}

.boot-screen-up{
    position: absolute;
    z-index: 998;
    top: 0;
    width: 100%;
    background-color: black;
    height: 100%;
}
