.taskBarIcon{
    position: relative;
    overflow: hidden;
    height: 40px;
    width: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 1px solid rgba(255, 255, 255, 0.57);
    border-radius: 10px;
    /* margin-bottom: 10px; */
}

.taskBarIcon:hover{
    border: 1px solid  rgba(97, 96, 96, 0.185);
    background-color: rgba(97, 96, 96, 0.185);
    border-radius: 0.3vw;

}
.taskBarIcon img{
    object-fit: cover;
    object-position: center;
    height: 60%;
    width: 60%;
    margin: auto;
}
.task-layer{
    pointer-events: none;
    z-index: 3;
    display: flex ;
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: black; */
}
.task-layer-box{
    background-color: transparent;
    /* opacity: 0; */
    flex: 1;
    overflow: hidden;
}
.task-layer-box .task-slide-box{
    transform: translateX(-110%);
    height: 100%;
    background-color: var(--color-primary);
}
.iconlineIsFocused{
    position: absolute;
    z-index: 2;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    margin: auto;
    height: 2px;
    /* border: 1px solid white; */
    border-radius: 0.3vw;
    background-color: rgba(255, 255, 255, 0.479);
    transition: all ease 0.5s;
}
/* .iconlineIsNotFocused{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10%;
    margin: auto;
    height: 3px;
    border: 1px solid white;
    border-radius: 0.3vw;
    background-color: rgba(255, 255, 255, 0.479);
} */