@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* :root {
    --color-primary: #A5A993;
    --color-secondary: #A5A99372;
    --color-tertiary : #45453f;
} */
:root {
    --color-primary: #C0B283;
    --color-secondary: #c0b283a1;
    --color-tertiary : rgb(75, 75, 68);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "poppins";
}
@font-face {
    font-family: "boot";
    src: url(../../assets/fonts/ROUND8-FOUR.otf);
}
@font-face {
    font-family: "boot1";
    src: url(../../assets/fonts/7v88vbNPUPh3PX8XhEqCZvmuic.ttf);
}
@font-face {
    font-family: "boot2";
    src: url(../../assets/fonts/d3tHnaQIAeqiE5hGcRw4mmgWYU.ttf);
}
@font-face {
    font-family: "boot3";
    src: url(../../assets/fonts/ml8WBou3qLRVFQzTmsYLrcQlG3s.ttf);
}